<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wmk.porject.mapper.rolemapper.RoleMapper" >
  <resultMap id="BaseResultMap" type="com.wmk.porject.bean.Role" >
    <id column="roleId" property="roleid" jdbcType="INTEGER" />
    <result column="roleName" property="rolename" jdbcType="VARCHAR" />
    <result column="authIds" property="authids" jdbcType="VARCHAR" />
    <result column="roleDescription" property="roledescription" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    roleId, roleName, authIds, roleDescription
  </sql>
  <!--查询角色列表-->
  <select id="roleList" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from t_role where 1=1
    <if test="rolename != null">
       AND roleName like CONCAT('%',#{rolename,jdbcType=VARCHAR},'%')
    </if>
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_role
    where roleId = #{roleid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_role
    where roleId = #{roleid,jdbcType=INTEGER};
     delete from t_user_role
    where role_id = #{roleid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wmk.porject.bean.Role" >
    insert into t_role (roleId, roleName, authIds, 
      roleDescription)
    values (#{roleid,jdbcType=INTEGER}, #{rolename,jdbcType=VARCHAR}, #{authids,jdbcType=VARCHAR}, 
      #{roledescription,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wmk.porject.bean.Role" >
    insert into t_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="roleid != null" >
        roleId,
      </if>
      <if test="rolename != null" >
        roleName,
      </if>
      <if test="authids != null" >
        authIds,
      </if>
      <if test="roledescription != null" >
        roleDescription,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="roleid != null" >
        #{roleid,jdbcType=INTEGER},
      </if>
      <if test="rolename != null" >
        #{rolename,jdbcType=VARCHAR},
      </if>
      <if test="authids != null" >
        #{authids,jdbcType=VARCHAR},
      </if>
      <if test="roledescription != null" >
        #{roledescription,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wmk.porject.bean.Role" >
    update t_role
    <set >
      <if test="rolename != null" >
        roleName = #{rolename,jdbcType=VARCHAR},
      </if>
      <if test="authids != null" >
        authIds = #{authids,jdbcType=VARCHAR},
      </if>
      <if test="roledescription != null" >
        roleDescription = #{roledescription,jdbcType=VARCHAR},
      </if>
    </set>
    where roleId = #{roleid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wmk.porject.bean.Role" >
    update t_role
    set roleName = #{rolename,jdbcType=VARCHAR},
      authIds = #{authids,jdbcType=VARCHAR},
      roleDescription = #{roledescription,jdbcType=VARCHAR}
    where roleId = #{roleid,jdbcType=INTEGER}
  </update>
  <select id="selsctAuthIds" resultType="java.lang.String" parameterType="java.lang.Integer">
  select authIds from t_role where roleId = #{roleid,jdbcType=INTEGER}
  </select>
</mapper>